<h1>Databases homework</h1>

The homework for this week is to create and work with your own database. For that you should:
- Choose a dataset to work with (I personally recommend the pokemon dataset);
- Create your database schema using one of the available tools online such as [dbdiagram](https://dbdiagram.io/) (or, any other tool you prefer);
- Create the database using SQLAlchemy and demonstrate that you can use it by adding, querying, updating and deleting data.

Bonus points: parse the entire csv you're working the database format BUT it is strictly forbidden to do that manually, i.e., WITHOUT using a loop (which, quite frankly, is madness).

In [1]:
import sqlalchemy as sql

In [2]:
import os
import sys
from sqlalchemy import Column, ForeignKey, Integer, String, Boolean
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy.orm import relationship
from sqlalchemy import create_engine

In [3]:
Base = declarative_base()

class Pokemon(Base):
    __tablename__ = 'pokemon'
    # Here we define columns for the table person
    # Notice that each column is also a normal Python instance attribute.
    id = Column(Integer, primary_key=True)
    name = Column(String(50), nullable=False)

class Attributes(Base):
    __tablename__ = 'attributes'
    # Here we define columns for the table address.
    # Notice that each column is also a normal Python instance attribute.
    id = Column(Integer, primary_key=True)
    Type1 = Column(String(50), nullable=False)
    Type2 = Column(String(50))
    HP = Column(Integer, nullable=False)
    Attack = Column(Integer, nullable=False)
    Defence = Column(Integer, nullable=False)
    Sp_Atk = Column(Integer, nullable=False)
    Sp_Def = Column(Integer, nullable=False)
    Speed = Column(Integer, nullable=False)
    Generation = Column(Integer, nullable=False)
    Legendary = Column(Boolean, nullable=False)
    V = Column(Boolean, nullable=False)
    V_Max = Column(Boolean, nullable=False)
    X_Y = Column(Boolean, nullable=False)
    Year = Column(Integer, nullable=False)
    pokemon_id = Column(Integer, ForeignKey('pokemon.id'))
    Pokemon = relationship(Pokemon)

# Create an engine that stores data in the local directory's
# sqlalchemy_example.db file.
engine = create_engine('sqlite:///Pokedex.db')

# Create all tables in the engine. This is equivalent to "Create Table"
# statements in raw SQL.
Base.metadata.create_all(engine)

In [4]:
print (Pokemon)

<class '__main__.Pokemon'>

In [5]:
from sqlalchemy import create_engine
from sqlalchemy.orm import sessionmaker

#from sqlalchemy_declarative import Attributes, Base, Pokemon

# Notice we're using SQLite here.
# This line will create the database if it isn't there already.
engine = create_engine('sqlite:///Pokedex.db')
# Bind the engine to the metadata of the Base class so that the
# declaratives can be accessed through a DBSession instance
Base.metadata.bind = engine

DBSession = sessionmaker(bind=engine)
# A DBSession() instance establishes all conversations with the database
# and represents a "staging zone" for all the objects loaded into the
# database session object. Any change made against the objects in the
# session won't be persisted into the database until you call
# session.commit(). If you're not happy about the changes, you can
# revert all of them back to the last commit by calling
# session.rollback()
session = DBSession()

POKEMON

In [6]:
session.rollback()

In [7]:
new_pokemon = Pokemon(name='Bulbasaur')
session.add(new_pokemon)
session.commit()

In [8]:
# Insert an Address in the address table

new_type = Attributes(
    Type1 = 'Grass',
    Type2 = 'Poison',
    HP = 45,
    Attack = 49,
    Defence = 49,
    Sp_Atk = 65,
    Sp_Def = 65,
    Speed = 45,
    Generation = 1, 
    Legendary = False,
    V = False,
    V_Max = False,
    X_Y = False,
    Year = 1996,
    Pokemon = new_pokemon)

session.add(new_type)
session.commit()

In [9]:
new_pokemon = Pokemon(name='Ivysaur')
session.add(new_pokemon)
session.commit()

new_type = Attributes(
    Type1 = 'Grass',
    Type2 = 'Poison',
    HP = 60,
    Attack = 62,
    Defence = 63,
    Sp_Atk = 80,
    Sp_Def = 80,
    Speed = 60,
    Generation = 1, 
    Legendary = False,
    V = False,
    V_Max = False,
    X_Y = False,
    Year = 1996,
    Pokemon = new_pokemon)

In [10]:
new_pokemon = Pokemon(name='Venusaur')
session.add(new_pokemon)
session.commit()

new_type = Attributes(
    Type1 = 'Grass',
    Type2 = 'Poison',
    HP = 80,
    Attack = 82,
    Defence = 83,
    Sp_Atk = 100,
    Sp_Def = 100,
    Speed = 80,
    Generation = 1, 
    Legendary = False,
    V = True,
    V_Max = False,
    X_Y = False,
    Year = 1996,
    Pokemon = new_pokemon)

In [11]:
new_pokemon = Pokemon(name='Venusaur Mega')
session.add(new_pokemon)
session.commit()

new_type = Attributes(
    Type1 = 'Grass',
    Type2 = 'Poison',
    HP = 80,
    Attack = 100,
    Defence = 123,
    Sp_Atk = 122,
    Sp_Def = 120,
    Speed = 80,
    Generation = 1, 
    Legendary = False,
    V = True,
    V_Max = False,
    X_Y = False,
    Year = 2013,
    Pokemon = new_pokemon)

In [12]:
new_pokemon = Pokemon(name='Charmander')
session.add(new_pokemon)
session.commit()

new_type = Attributes(
    Type1 = 'Fire',
    Type2 = '',
    HP = 39,
    Attack = 52,
    Defence = 43,
    Sp_Atk = 60,
    Sp_Def = 50,
    Speed = 65,
    Generation = 1, 
    Legendary = False,
    V = False,
    V_Max = False,
    X_Y = False,
    Year = 1996,
    Pokemon = new_pokemon)

In [13]:
new_pokemon = Pokemon(name='Charmeleon')
session.add(new_pokemon)
session.commit()

new_type = Attributes(
    Type1 = 'Fire',
    Type2 = '',
    HP = 58,
    Attack = 64,
    Defence = 58,
    Sp_Atk = 80,
    Sp_Def = 65,
    Speed = 80,
    Generation = 1, 
    Legendary = False,
    V = False,
    V_Max = False,
    X_Y = False,
    Year = 1996,
    Pokemon = new_pokemon)

In [14]:
new_pokemon = Pokemon(name='Charizard')
session.add(new_pokemon)
session.commit()

new_type = Attributes(
    Type1 = 'Fire',
    Type2 = 'Flying',
    HP = 78,
    Attack = 84,
    Defence = 78,
    Sp_Atk = 109,
    Sp_Def = 85,
    Speed = 100,
    Generation = 1, 
    Legendary = False,
    V = False,
    V_Max = False,
    X_Y = False,
    Year = 1996,
    Pokemon = new_pokemon)

In [15]:
new_pokemon = Pokemon(name='Charizard Mega Charizard X')
session.add(new_pokemon)
session.commit()

new_type = Attributes(
    Type1 = 'Fire',
    Type2 = 'Flying',
    HP = 78,
    Attack = 130,
    Defence = 111,
    Sp_Atk = 130,
    Sp_Def = 85,
    Speed = 100,
    Generation = 1, 
    Legendary = False,
    V = False,
    V_Max = False,
    X_Y = True,
    Year = 2013,
    Pokemon = new_pokemon)

In [16]:
new_pokemon = Pokemon(name='Charizard Mega Charizard Y')
session.add(new_pokemon)
session.commit()

new_type = Attributes(
    Type1 = 'Fire',
    Type2 = 'Flying',
    HP = 78,
    Attack = 104,
    Defence = 78,
    Sp_Atk = 159,
    Sp_Def = 115,
    Speed = 100,
    Generation = 1, 
    Legendary = False,
    V = False,
    V_Max = False,
    X_Y = True,
    Year = 2013,
    Pokemon = new_pokemon)

In [17]:
from sqlalchemy.sql import select

In [18]:
s = "SELECT * FROM pokemon"
rp = session.execute(s)
results = rp.fetchall()
results

[(1, 'Bulbasaur'),
 (2, 'Ivysaur'),
 (3, 'Venusaur'),
 (4, 'Venusaur Mega'),
 (5, 'Charmander'),
 (6, 'Charmeleon'),
 (7, 'Charizard'),
 (8, 'Charizard Mega Charizard X'),
 (9, 'Charizard Mega Charizard Y')]

In [19]:
s = "SELECT * FROM pokemon WHERE ID = 1"
rp = session.execute(s)
results = rp.fetchall()
results

[(1, 'Bulbasaur')]

In [20]:
s = "SELECT * FROM pokemon WHERE ID = 2"
rp = session.execute(s)
results = rp.fetchall()
results

[(2, 'Ivysaur')]

In [21]:
s = session.query(Attributes)
s = s.filter(Attributes.pokemon_id == 1)

In [22]:
# Update example.
s.update({Attributes.HP: 500})
session.commit()

In [23]:
sql.__version__

'1.4.32'

In [24]:
results[0].keys()

RMKeyView(['id', 'name'])

In [25]:
for result in results:
    print(result.Pokemon.id)
    print(result.Pokemon.name)

AttributeError: Could not locate column in row for column 'Pokemon'

In [ ]:
results[1].pokemon.name()

IndexError: list index out of range

In [ ]:
# Example querying the pokemon database.
s = sql.select([Pokemon])
rp = session.execute(s)
results = rp.fetchall()
print (results)

[(<__main__.Pokemon object at 0x000001F705495910>,), (<__main__.Pokemon object at 0x000001F70552B9A0>,), (<__main__.Pokemon object at 0x000001F7055335B0>,), (<__main__.Pokemon object at 0x000001F7055334F0>,), (<__main__.Pokemon object at 0x000001F705533280>,), (<__main__.Pokemon object at 0x000001F705533160>,), (<__main__.Pokemon object at 0x000001F705533550>,), (<__main__.Pokemon object at 0x000001F7055335E0>,), (<__main__.Pokemon object at 0x000001F7055336D0>,), (<__main__.Pokemon object at 0x000001F7055336A0>,), (<__main__.Pokemon object at 0x000001F705533760>,), (<__main__.Pokemon object at 0x000001F7055334C0>,), (<__main__.Pokemon object at 0x000001F705533940>,), (<__main__.Pokemon object at 0x000001F705533700>,), (<__main__.Pokemon object at 0x000001F705533880>,), (<__main__.Pokemon object at 0x000001F7055338E0>,), (<__main__.Pokemon object at 0x000001F705533910>,), (<__main__.Pokemon object at 0x000001F70546A250>,)]

In [ ]:
# Example querying the Attributes database.
s = sql.select([Attributes])
rp = session.execute(s)
results = rp.fetchall()
results

[(<__main__.Attributes object at 0x000001F705495910>,)]

In [ ]:
# Example with a where statement.
s = sql.select([Attributes]).where(Attributes.pokemon_id == 1)
rp = session.execute(s)
results = rp.fetchall()
results

[]

In [ ]:
# Delete example
s = sql.delete(Attributes).where(Attributes.pokemon_id == 1)
rp = session.execute(s)

In [ ]:
s = "SELECT * FROM pokemon"
rp = session.execute(s)
results = rp.fetchall()
results

[(1, 'Bulbasaur'),
 (2, 'Ivysaur'),
 (3, 'Venusaur'),
 (4, 'Venusaur Mega'),
 (5, 'Charmander'),
 (6, 'Charmeleon'),
 (7, 'Charizard'),
 (8, 'Charizard Mega Charizard X'),
 (9, 'Charizard Mega Charizard Y'),
 (10, 'Bulbasaur'),
 (11, 'Ivysaur'),
 (12, 'Venusaur'),
 (13, 'Venusaur Mega'),
 (14, 'Charmander'),
 (15, 'Charmeleon'),
 (16, 'Charizard'),
 (17, 'Charizard Mega Charizard X'),
 (18, 'Charizard Mega Charizard Y')]